@font-face {
  font-family: Shentox;
  font-display: swap;
  src: url(https://web.ccpgamescdn.com/aws/webfonts/shentox/webfonts-2.0/Shentox-SemiBold.woff2)
      format('woff2'),
    url(https://web.ccpgamescdn.com/aws/webfonts/shentox/webfonts-2.0/Shentox-SemiBold.woff)
      format('woff');
  font-weight: 600;
  font-style: normal;
}

/** svg search icon **/
svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
/* svg end */

:root {
  --font-family: 'Shentox', 'Rogan', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #101010;
}
body,
html {
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  line-height: 1.5;
  color: #fff;
  font-family: Shentox, Rogan, sans-serif;
  font-family: var(--font-family);
  font-weight: 500;
}

input {
  font-family: inherit;
}

input:focus {
  outline: none;
}

form {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
}

svg {
  color: silver;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

button:focus {
  outline: none;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.TagsContainer_TagsContainer__1jG7r {
  display: flex;
  padding: 0 20px;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  align-items: center;
  min-height: 60px;
}

.TagsContainer_search__3due6 {
  position: relative;
}

@media only screen and (min-width: 1200px) {
  .TagsContainer_search__3due6 {
    min-width: 260px;
  }
}

.TagsContainer_search__3due6 form,
.TagsContainer_search__3due6 input {
  width: 100%;
}

.TagsContainer_search__3due6 input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  background: #29353a;
  border-radius: 24px;
  padding: 5px 35px 5px 15px;
  border: 1px solid transparent;
  font-size: 15px;
  transition: background 0.3s ease;
}

.TagsContainer_search__3due6 input:focus {
  background: #353e42;
}

.TagsContainer_search__3due6 svg {
  right: 20px;
  top: 50%;
}

.TagsContainer_search__3due6 button {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
}

.TagsContainer_search__3due6 button:hover {
  cursor: pointer;
}

.TagsContainer_search__3due6 button:hover svg {
  color: #fff;
}

@media only screen and (max-width: 468px) {
  .TagsContainer_TagsContainer__1jG7r {
    flex-direction: column-reverse;
    padding: 10px;
    margin-bottom: 0;
  }

  .TagsContainer_search__3due6 {
    width: 100%;
  }
}
